<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work Nest – Where Productivity Feels at Home</title>
  <script src="https://cdn.tailwindcss.com"></script>

  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>

<body class="bg-gray-950 text-gray-300 font-sans min-h-screen flex flex-col">
  {% include "includes/navbar.html" %}
  <main class="flex-grow container mx-auto px-6 py-12">
    {% block content %}{% endblock %}
  </main>
  {% include "includes/footer.html" %}
</body>

</html>
